body {
    font-family: Arial, sans-serif;
}
.hero {
 
    padding: 100px 0;
    text-align: center;
   color: black;
  
}
.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}





.section {
    padding: 50px 0;
}
.project-card {
    transition: transform 0.3s;
}
.project-card:hover {
    transform: translateY(-10px);
}
footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
}
footer a {
    color: #ffffff;
}
.project-card img {
    height: 200px; /* 必要に応じて画像の高さを統一 */
    object-fit: cover; /* サイズを調整して画像をトリミング */
}
video.background-video{
    position: fixed; /* スクロールしても動画を固定 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 動画を画面全体にフィットさせる */
    z-index: -1; /* コンテンツより後ろに配置 */
    pointer-events: none; /* 動画をクリックできないようにする */
}

